@model IEnumerable<AntiqueMall.Models.Photo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Admin.cshtml";
}

<h2><em>Photos</em></h2>
<hr />
<div class="col-md-12">
    <a href="/Admin/Photos/Create" class="btn btn-primary btn-block">Create new photo</a>
</div>
<table class="table">
    <tr>
        <th>
          <h4 style="color:#0A5FC4;">Photo Path</h4>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img class="img-responsive" style="width:150px;" src="@item.photos_path" alt="Alternate Text" />
        </td> 
        <td>
            <a href="/Admin/Photos/Create" class="btn btn-primary btn-block">Edit</a>
            @Html.ActionLink("Details", "Details", new { id=item.photo_id }, new { @class = "btn btn-primary btn-block", @style = "margin-bottom:2px;" })
            @Html.ActionLink("Delete", "Delete", new { id=item.photo_id }, new { @class = "btn btn-primary btn-block", @style = "margin-bottom:2px;" })
        </td>
    </tr>
}

</table>
