
<!DOCTYPE html>
<html lang="en">

<body>
    <!-- contact -->
    <section id="contact_map">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 padd">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6260549.684481602!2d45.08831383262003!3d39.988138335397146!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40307cd91aa21ddf%3A0xe6c9526b3e83cd08!2z0JDQt9C10YDQsdCw0LnQtNC20LDQvQ!5e0!3m2!1sru!2s!4v1507497771388"
                     width=100% height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </section>
    <section id="contactus">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="message">
                        <h3>Contact us</h3>
                        <p>Your Name*</p>
                        <input type="text">
                        <p>Your Email*</p>
                        <input type="text">
                        <p>Your Subject*</p>
                        <input type="text">
                        <p>Message*</p>
                        <textarea name="text" class="area" cols="30" rows="10"></textarea>
                        <a class="btn btn-success btn-responsive btn_res" href="#">SEND E-MAIL</a>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="message">
                        <h3 class="location">Location</h3>
                        <ul>
                            <li>
                                <div class="circle">
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                </div>
                                <p>0-800-12-345-6 880</p>
                            </li>
                            <li>
                                <div class="circle">
                                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                                </div>
                                <p>257 Charlington Gates Road Morrison, Nr. 568</p>
                            </li>
                            <li>
                                <div class="circle">
                                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                </div>
                                <p> info@jruitstemplate.com</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src="script/jquery-3.2.1.min.js"></script>
    <script src="script/script.js"></script>
</body>

</html>