
@model AntiqueMall.Models.Product

<section id=viewCart>

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <table class="table">
                    <thead class="thead">
                        <tr class="tr">
                            <th class="product-thumb">Product</th>
                            <th class="product-name">&nbsp;</th>
                            <th class="price">Price</th>
                            <th class="quantity">Quantity</th>
                            <th class="quantity">Total</th>
                            <th class="remove">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody id="addView">

                    </tbody>
                </table>
            </div>
            <div class="col-md-4">
                <h3 class="total">Cart totals</h3>
                <div class="cart_total">
                    <div class="first">Subtotal</div>
                    <div class="first_s">$88.00</div>
                    <div class="lines"></div>
                    <div class="second">Total</div>
                    <div class="second_s">$88.00</div>
                    <div><a class="btn btn-success btn-responsive btn_res" href="#">PROCEED TO CHECKOUT</a></div>

                </div>
                <div class="main_t">
                    <h3 class="total">Coupon</h3>
                    <div class="coupon">
                        <input type="text" placeholder="Coupen code">

                        <div><a class="btn btn-success btn-responsive btn_res" href="#">APPLY COUPON</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

